/* Navbar.css */

body {
    margin: 0;
  }
  
  .navbar-container {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 100;
    color: rgba(213, 205, 191);
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
  }
  
  .inner-container {
    padding: 1.2%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  
  .logo {
    font-size: 1.2em;
    list-style: none;
    margin-left: 40px; /* Increase this value for more space between options */
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  
.option-buttons {
  margin-left: auto;
  font-size: 1.2em;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

/* Updated styles for option buttons */
.option-buttons button {
  font-size: 1.2em;
  margin-left: 40px; /* Adjust this value to match the spacing */
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: rgba(213, 205, 191);
  border: none;
  background: none;
}

.option-buttons button:hover {
  transition: 0.2s ease-in;
  color: #b4ada2;
}


/* Adjustments for mobile responsiveness */
@media screen and (max-width: 768px) {
  .navbar-inner {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .navbar-logo {
    font-size: 1.2em; /* Adjusted font size for smaller screens */
  }

  .navbar-links {
    display: none; /* Hide links on smaller screens initially */
  }
}